<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>editPage</title>
    <link type="text/css" href="/stylesheets/page1.css" rel="stylesheet">
    <style>

    </style>
    <script src="javascripts/jquery-3.2.1.js"></script>
</head>
<body>
<div id="title">
    <div>
        <h2>问卷调查</h2>
    </div>
    <div>
        <span>我的问卷</span>
    </div>
</div>
<div id="mainBodyBox">
    <div class="mainBody">
        <span>标题</span>
        <span>时间</span>
        <span>状态</span>
        <span>操作</span>
        <a href="newQuestion"><input type="button" value="新建问卷" style="position: absolute;left: 850px" onclick="newFile"></a>
    </div>
    <%for(var i= 0,len=data.length;i<len;i++){%>
        <div class="mainBody">
            <span></span>
        </div>
    <% }%>


</div>
<script src="javascripts/getData.js"></script>
</body>
</html>