<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <script src="javascripts/jquery-3.2.1.js"></script>
  <link type="text/css" href="/stylesheets/page1.css" rel="stylesheet">
  <title>123</title>
</head>
<body>
<div id="title">
  <div>

    <h2>问卷调查111</h2>
  </div>
  <div>
    <span>我的问卷</span>
  </div>
</div>
<div id="mainBodyBox">

</div>
<script src="javascripts/getData.js"></script>
</body>
</html>